* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #222d32 !important;
}

.navbar {
  position: sticky;
}

.navbar ul li:hover {
  background: #ea1d63;
  border-radius: 8px;
}

.class-name{
    position: relative;
    margin-top: 48px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: white;
}
.content-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 24px;
  align-items: center;
  justify-content: center;
}

.accordion{
    background-color: white;
    min-width: 480px;
}

.accordion-body{
    padding: 4px;
}

.card-header-module{
    background-color: orange;
}

.card-header-forum{
    background-color: lightblue;
}

.card-header-quiz{
    background-color: lime;
}

.card-header-task{
    background-color: bisque;
}